# Virtual Environments (alla varianter)
venv/
venv-*/
.venv/
.venv-*/
env/
ENV/
*.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
*.pdf
